* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-family: "Caveat", cursive;
  color: #555;
}

.home {
  //   background-image: url('./images/pexels-football-wife-1618200.jpg');
  height: 100vh;
  width: 100%;
  background-color: aqua;
  position: relative;

  .img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .header {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: rgb(46, 50, 71);
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .img-logo {
      width: 100px;
    }
    ul li {
      display: inline-block;
      padding: 4px 10px;
      // border: solid rgb(235, 213, 213);
      border-radius: 30px;
      color: aqua;
    }
    ul li:hover {
      // background-color: blue;
      background-image: linear-gradient(
        to right,
        rgba(46, 50, 71, 0),
        rgb(0, 68, 255, 0.8)
      );
      color: antiquewhite;
    }
  }
}

.Team-head {
  text-align: center;
  padding: 30px;
}
.team {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  gap: 40px;
  padding-bottom: 30px;
  .card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0px rgb(0 0 0);
    transition: transform 0.5s;

    .card-image {
      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }
    }
  }
  .card:hover {
    transform: translateY(-5px);
  }
}
.legends {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-image: linear-gradient(
        to right,
        rgba(46, 50, 71, 0),
        rgb(0, 68, 255, 0.8)
      );
  .l-card {
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0.1);
    transition: transform 0.5s;

    h3 {
      font-family: "Caveat", cursive;
      color: #555;
    }
    .fas {
      color: #ff523b;
    }
    .fa {
      color: #ff523b;
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      padding: 10px;
    }
  }
  .l-card:hover {
    transform: translateX(-10px);
    background-color: rgb(241, 237, 237);
  }
}
